.titleText {
	font-size: 4dvh;
	text-align: center;
	position: relative;
	margin-top: 30dvh;
	left: 47vw;
	transform: translate(-50%, -50%);
	line-height: 7dvh;
	color: #f0f0f0;
	transition: 0.5s;
	margin-left: 3vw;
	margin-right: 3vw;
}
