html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: Manrope, sans-serif;
}



body {
    margin: 0;
    overflow: hidden;
    height: 100%;
    background-color: #0f0f0f;
}

.background {
    background:
        linear-gradient(
            rgb(0 0 0 / 50%),
            rgb(0 0 0 / 50%)
        ),
        url("../assets/images/backgroundHome.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position:fixed;
    height: 100vh;
    width: 100vw;
    top:0;
    filter:grayscale(100%) blur(4px);
    z-index: -1;
}

.title-text {
    font-size:4dvh;
    text-align: center;
    position: relative;
    margin-top: 30dvh;
    left:47vw;
    transform: translate(-50%, -50%);
    line-height: 7dvh;
    color: #f0f0f0;
    transition: .5s;
    margin-left:3vw;
    margin-right:3vw;
}

.sub-area {
    color: #f0f0f0;
    font-size: 2cap;
    text-align: center;
    position: relative;
    top:-10dvh;
    left: 50%;
    transform: translateX(-50%);
    transition: .5s;
    margin-left:1dvw;
    margin-right:1dvw;
}

.icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    margin-bottom: auto;
    transition: .5s;
}

.invert {
    filter: invert(1);
}

.icon {
    height: 2.25em;
    width: 2.25em;
    transition: 0.5s;
    margin-bottom:-2vh;
}

.icon-container{
    margin: 2vh;
    margin-bottom: 0vh;
}

.icon-container:hover {
    transform: scale(1.2);
    transition: 0.5s;
}