@import url("./global.css");
@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");

.background {
    filter: blur(4px);
    background-image: url("../assets/backgroundProjects.webp");
    background-position: left;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-gap: 10px;
}

.grid-item {
    border-radius: 25px;
    width: 20vh;
    height: 20vh;
    text-align: center;
    color: rgb(247 247 255);
    background:
        linear-gradient(
            rgb(0 0 0 / 50%),
            rgb(0 0 0 / 50%)
        );
    white-space: normal;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.title {
    margin-top: 10px;
    font-size: 3vh;
    font-family: Manrope, sans-serif;
    font-weight: 700;
    text-align: center;
}

.description {
    width: 95%;
    margin: 2.5%;
    height: 20vh;
    font-size: 1.8vh;
    font-family: Manrope, sans-serif;
    text-align: center;
    flex-wrap: wrap;
}

.grid-item:hover {
    background:
        linear-gradient(
            rgb(0 0 0 / 70%),
            rgb(0 0 0 / 70%)
        );
    transform: scale(1.05);
    transition: 0.4s;
}

@media screen and (width<= 600px) {
    .grid-item:hover {
        background:
            linear-gradient(
                rgb(0 0 0 / 50%),
                rgb(0 0 0 / 50%)
            );
        transform: scale(1);
    }

    .grid-container {
        grid-template-columns: auto auto;
        margin-top: 10vh;
    }

    body {
        overflow-y: scroll !important;
    }
}
