.copyright {
	color: #fff;
	font-family: Manrope, sans-serif;
	font-size: 10px;
	white-space: nowrap;
	text-align: center;
	position: fixed;
	margin: auto;
	width: 100vw;
	position: absolute;
	padding-top: 2vh;
}

.source {
	color: #fff;
	font-family: Manrope, sans-serif;
	font-size: 15px;
	white-space: nowrap;
	text-align: center;
	align-items: flex-end;
	position: absolute;
	margin: auto;
	width: 100vw;
	padding-top: 1vh;
}

.link {
	color: #fff;
}

.noLinkStyle {
	text-decoration: none;
	color: inherit;
}
