.copyright {
  position: relative;
  color: #fff;
  font-family: Manrope, sans-serif;
  font-size: 10px;
  white-space: nowrap;
  text-align: center;
  bottom:0%;
  position:fixed;
  margin:auto;
  width: 100vw;
}

.source {
  position: relative;
  color: #fff;
  font-family: Manrope, sans-serif;
  font-size: 15px;
  white-space: nowrap;
  text-align: center;
  align-items: flex-end;
  bottom:3%;
  position:fixed;
  margin:auto;
  width: 100vw;
}

a:visited {
  color: #fff;
}