.copyright {
  position: relative;
  color: #fff;
  font-family: Manrope, sans-serif;
  font-size: 10px;
  white-space: nowrap;
  text-align: center;
}

.source {
  position: relative;
  color: #fff;
  font-family: Manrope, sans-serif;
  font-size: 15px;
  white-space: nowrap;
  text-align: center;
  align-items: flex-end;
}

a:visited {
  color: #fff;
}